:root {
    --button-color: #007BFF;
    --border-color: #4DABFF;
    --main-font: 'Inter', system-ui, -apple-system, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 100%;
    min-height: 100%;
    padding: 20px;
}

body {

    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: block; 
    background-color: #f8f9fa;

}

main {
    display: flex;
    flex-direction: column;
    align-content: flex-end;

}



.button {
    font-family: var(--main-font);
    position: fixed;
    cursor: pointer;
    z-index: 10;
    color: #E0F2FE;
    display: flex;
    background-color: var(--button-color);
    border: 3px solid var(--border-color);
    border-radius: 50px;
    height: 60px;
    width: 60px;
    bottom: 30px;
    left: 30px;
    align-items: center;
    justify-content: center;
    animation: rebond 1s infinite alternate ease-in-out;
    transition: filter 0.2s ease-in-out;
}

.button:hover {
    filter: brightness(1.2);

}

@keyframes rebond {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

.grid-overlay {
    
    position: fixed;
    top: 0;
    z-index: 8;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 15px;
    justify-content: center;
    align-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;                 
    transform: scale(0.9);  
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.1);
}

.icon {
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100px;
    height: 100px;
    opacity: 1;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); ;
    display: flex;
    justify-content: center;
    transform: translateY(20px);
    align-items: center;
    border-radius: 15px;
    font-family: var(--main-font);
    pointer-events: auto;
    transition: all 0.4s ease;
    cursor: pointer;
    transition-delay: 0s;
    
}


#container-github {
    display: grid ;
    grid-template-columns: 1fr;
    position: relative;


}

.close-input{
    position: absolute;
    z-index: 12;
    background-color: #ff4d4d; 
    border-color: #ff4d4d;
    color: white;
    font-size: 1rem; 
    font-weight: bold;
    cursor: pointer;
    width: 15px;
    height: 15px;
    top: -10px;
    margin-left: 100px; 
    border-radius: 50%;
    transition: transform 0.5s ease, background-color 0.3s ease;
    display: flex;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    line-height: 0; 
    padding: 0 0 5px 0;    
    transform-origin: center;
    
}

.close-input::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}
.close-input span{
    margin-top: 4px;
}

[id^="container-"] {
    display: grid;
    position: relative;
    grid-column: auto; 
    grid-row: auto;
}

[id^="container-"]:hover .close-input {
    opacity: 1;
    visibility: visible;
}


[id^="container-"] > * {
    grid-column: 1;
    grid-row: 1;
}
[id^="container-"]:hover .icon {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

#container-instagram:hover .icon.instagram { background-color: #E4405F; fill: #fff; }
#container-github:hover .icon.github { background-color: #181717; fill: #fff; }
#container-ytb:hover .icon.ytb { background-color: #FF0000; fill: #fff; }
#container-linkedin:hover .icon.linkedin { background-color: #0077B5; fill: #fff; }
#container-discord:hover .icon.discord { background-color: #5865F2; fill: #fff; }
#container-dribbble:hover .icon.dribbble { background-color: #EA4C89; fill: #fff; }
#container-twitch:hover .icon.twitch { background-color: #9146FF; fill: #fff; }
#container-x:hover .icon.x { background-color: #000000; fill: #fff; }

.icon.close-btn {
    background-color: #ff4d4d; 
    border-color: #ff4d4d;
    color: white;
    font-size: 2rem; 
    font-weight: bold;
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    transition: transform 0.5s ease, background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0; 
    padding: 0 0 5px 0;    
    transform-origin: center;
}

.open-input {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    border-radius: 15px; 
    color: #A1C4FD;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.3); 
    border: 2px dashed #A1C4FD; 
    z-index: 5;

}

.icon.close-btn:hover {
    background-color: #ff1a1a;
    transform: rotate(90deg);
     
}

.checkbox-icon {
    visibility: hidden;
    opacity: 0;
}

.checkbox-icon:checked ~ .icon {
    opacity: 0 !important;
    visibility: hidden !important;
    transform: scale(0.5) translateY(20px) !important;
    transition: all 0.3s ease;
    pointer-events: none;
}

.checkbox-icon:checked ~ .close-input {
    opacity: 0 !important;
    visibility: hidden !important;
    transform: scale(0); 
    transition: all 0.3s ease;
}

.checkbox-icon:checked ~ .open-input {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1); 
    transition: all 0.5s ease;
}

.grid-checkbox:checked ~ .grid-overlay .icon {
    opacity: 1;
    transform: translateY(0);
}

.grid-checkbox:checked ~ .grid-overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    pointer-events: auto;
    transition: all 0.4s ease;
}
.grid-checkbox:checked ~ .button {
    opacity: 0;
    visibility: hidden;
    transition: filter 0.2s ease-in-out, opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
}
.grid-checkbox {
    display: none;
    cursor: pointer;
}

.grid-checkbox:checked ~ .grid-overlay .icon:nth-child(1) { transition: opacity 0.4s 0.1s, transform 0.4s 0.1s, background-color 0.4s; }
.grid-checkbox:checked ~ .grid-overlay .icon:nth-child(2) { transition: opacity 0.4s 0.15s, transform 0.4s 0.15s, background-color 0.4s; }
.grid-checkbox:checked ~ .grid-overlay .icon:nth-child(3) { transition: opacity 0.4s 0.2s, transform 0.4s 0.2s, background-color 0.4s; }
.grid-checkbox:checked ~ .grid-overlay .icon:nth-child(4) { transition: opacity 0.4s 0.25s, transform 0.4s 0.25s, background-color 0.4s; }
.grid-checkbox:checked ~ .grid-overlay .icon:nth-child(5) { transition: opacity 0.4s 0s, transform 0.4s 0s, background-color 0.4s; } /* Croix */
.grid-checkbox:checked ~ .grid-overlay .icon:nth-child(6) { transition: opacity 0.4s 0.3s, transform 0.4s 0.3s, background-color 0.4s; }
.grid-checkbox:checked ~ .grid-overlay .icon:nth-child(7) { transition: opacity 0.4s 0.35s, transform 0.4s 0.35s, background-color 0.4s; }
.grid-checkbox:checked ~ .grid-overlay .icon:nth-child(8) { transition: opacity 0.4s 0.4s, transform 0.4s 0.4s, background-color 0.4s; }
.grid-checkbox:checked ~ .grid-overlay .icon:nth-child(9) { transition: opacity 0.4s 0.45s, transform 0.4s 0.45s, background-color 0.4s; }

.icon:hover {
    transition: all 0.2s 0s !important;
}

.icon.close-btn:hover {
    background-color: #ff1a1a !important;
    transform: translateY(0) rotate(90deg) !important;
    transition: transform 0.3s ease 0s;
}

.social-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
}

.checkbox-icon:checked ~ .social-link {
    display: none;
}